.app {
    font-family:'Courier New', Courier, monospace;  
    margin: 20vh auto auto auto;
    max-width: 1280px;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    position: relative;
}